/* @import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Macondo&family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch&display=swap');

/*------------------  React default  ------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------  general  ------------------*/


body {
  background: linear-gradient(291deg, rgba(54, 235, 201, .75), rgba(0,255,0,0) 70%),
              linear-gradient(145deg, rgba(42, 235, 90, .75), rgba(0,255,0,0) 70%),
              linear-gradient(325deg, rgba(66, 174, 235, .75), rgba(0,0,255,0) 70%);
  /* font-family: 'Shadows Into Light'; */
  /* font-family: 'Gideon Roman', sans-serif; */
  /* font-family: 'Roboto-Slab', sans-serif; */
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

.cola-name {
  font-family: 'Macondo', sans-serif;
}

.company-name {
  font-family: 'Smooch', sans-serif;
  text-shadow: 
  /* 1px 1px 2px rgba(0,0,0,.35), */
  1px 1px 2px #faf9f6,
  0px 0px 4px rgba(0,0,0,.5)
  /* 0px 0px 4px #faf9f6 */
                ;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-around {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.reduce-9 {
  transform: scale(.9);
}

.width-fit {
  width: fit-content;
}

/*------------------  Cola Template  ------------------*/

.text-shadow {

}

.cola-header {
  background: url('unbranded_can.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height:5em;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,.75))
          drop-shadow(0px 0px 1px rgba(0,0,0,.75));
  transform: scale(.9);
}

.cola-header-text {
  color: #2AEB5A;
  text-shadow: 1px 1px 0px #010203,
                -1px -1px 0px #010203,
                0px 0px 2px #010203;
}

.cola-template-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  /* card design */
  background-color: rgba(250,249,246, .5);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5),
              inset -2px -2px 4px rgba(0,0,0,.5);
}

.buy-button-position {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.buy-button {
  border: none;
  border-radius: 15px;
  background-color: #EBBC1E;
  box-shadow: 
              inset -2px -2px 4px rgba(0,0,0,.5),
              2px 2px 1px rgba(0,0,0,.5)
              ;
}

/*------------------  Stripe  ------------------*/

.stripe-style {
  position: relative;
}

.stripe-style div {
  /* position: absolute; */
  position: relative;
  /* border: 2px solid black; */
  /* height: 4rem; */
  /* padding:3rem; */
  /* display */
  /* bottom: 15px; */
}
.stripe-style input {
  font-size: 10rem!important;
}
